*, *::after, *::before { box-sizing: inherit; }

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    background: #1B1924;
    color: #ffffff;
    box-sizing: border-box;
}

.logo {
    width: 90px;
}

.ul-endorsements-list {
    color: #000;
    list-style-type: none;
    width: 400px;
    padding: 0;
}

.ul-endorsements-list li {
    background: #FFF;
    padding: 10px;
    margin: 0 0 10px 0;
}

.ul-endorsements-list h5 {
    margin: 0;
}

.ul-endorsements-list li > p  {
    margin: 10px 0;
}

.ul-endorsements-list li div {
    display: flex;
}

.ul-endorsements-list li div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.ul-endorsements-list li div > * {
    margin: 0;
    flex: 1 0 0;
}

.ul-endorsements-list span {
    cursor: pointer;
}

.p-btn {
   text-align: right;
}

.btn-del {
    margin-right: 8px;
}

.span-heart-count {
    margin-right: 4px
}

.btn-heart {

}